* {
    /* border: 1px solid black; */
}

:root {
    --green: #377e3c;
    --orange: #df8f16;
    --off-green: rgb(79, 202, 151);
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin-top: 1rem;
    background: linear-gradient(rgb(235, 235, 235), rgb(216, 216, 216));
    margin: 0 auto;
    /* padding: 0 2rem; */
    /* background-color: lightgrey; */
    /* border: 1px solid black; */
}

/* Navigation Bar Stuff */

header {
    display: flex;
    margin: -7rem auto;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    position: fixed;
    background: linear-gradient(to top, rgba(107, 216, 85, 0.9), white 10%);
    opacity: 90%;
    z-index: 1000;
    /* transition: transform 0.3s ease; */
}

.nav-logo {
    margin-left: 4rem;
    width: 150px;
    list-style: none;
    float: left;
    grid-column: 1;
    grid-row: 1;
    /* position: absolute; */
}

.header-contact {
    color: var(--green);
    font-weight: bold;
    padding-left: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: Space-evenly;
    align-items: center;
    padding: 1rem 1rem;
}

nav li {
    padding: 0 3rem;
}

nav li :hover {
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
}


.nav-link {
    list-style: none;
    /* box-shadow: 0 5px 3px -3px rgb(255, 255, 255); */
}

ul a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Carousel */

.carousel-sect {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    /* border: 1px solid blue; */
}

.carousel {
    /* border: 1px solid black; */
    height: 90%;
    width: 90%;
    padding: 1rem;
    /* position: relative; */
    overflow: hidden;
    /* border: 1px solid black; */
}

/* .carousel img {
    width: 100%;
    left: 0;
    position: absolute;
    object-fit: fill;
    border: 1px solid black;
} */

.top-img {
    border-radius: 15px;
    opacity: 100%;
    position: relative;
}

.carousel-overlay {
    position: absolute;
    top: 19rem;
    left: 13%;
    width: 80%;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 15px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgb(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 75%);
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family:sans-serif;
    -webkit-text-stroke: 1.5px black;
    /* text-stroke: 2px black; */
    -webkit-text-fill-color: var(--orange);
    /* text-fill-color: white; */
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.6rem;
}

.carousel-logo {
    width: 40%;
    padding-left: 4rem;
    float: left;
}

/* WE ARE THE BEST */
.carousel-watb-top {
    position: absolute;
    display: inline-block;
    left: 63%;
    /* color: rgb(255, 255, 255); */
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
}

.carousel-watb-bottom {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 61%;
    /* color: rgb(255, 255, 255); */
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;

}

/* .watb {
    margin-top: 2rem;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: arial;
    letter-spacing: 0.6rem;
    color: var(--orange);
    color: #186d1e;
    text-decoration: underline;
    text-decoration-color: var(--green);
} */

/* Declaration */

.declaration-img {
    margin-top: 4rem;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px -5px 10px #888;
    background: linear-gradient(to right, white 2%, lightgrey);
    /* background: linear-gradient(153deg, rgb(251, 255, 251), rgb(193, 238, 193)); */
    /* border-radius: */
}

.declaration {
    padding: 2rem 4rem;
    row-gap: 0;
    /* width: 90%; */
    margin: 1rem;
    grid-column: 1;
    border-radius: 20px;
    border: 5px solid var(--green);
}

.header-sec {
    text-align: center;
    width: 100%;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    /* border: 1px solid black; */

}

.p-sec1 {
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
  
.p-sec2 {
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
  
.em-orange {
    color: var(--orange);
    font-size: 1.6rem;
}
  
.emphasis {
    font-size: 1.6rem;
    color: var(--green);
}

.black {
    font-weight: normal;
}

.actual-carousel {
    width: 100%;
    height: 100%;
    grid-column: 2;
    position: relative;
    margin: auto;
    margin-right: 0;
    object-fit: contain;
    border-radius: 15px 0 0 15px;
}

.arrow {
    z-index: 9;
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    background: black;
    opacity: 0;
    transition: opactiy 0.5s ease-in-out;
}

.left-arrow:hover +.arrow
.right-arrow:hover + .arrow {
    opacity: 1;
}

.left-arrow {
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 99;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.left-arrow:hover{
    background-color: rgba(255, 255, 255, 0.276);
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    left: 52.5rem;
    height: 100%;
    width: 15%;
    z-index: 99;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.right-arrow:hover {
    background-color: rgba(255, 255, 255, 0.276);
    cursor: pointer;
}

.real-carousel-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.274) 14%, transparent 15%, transparent 85%, rgba(255, 255, 255, 0.279) 86%);
    z-index: 98;
    transition: opacity 0.5s ease-in-out;
}

.real-carousel-overlay:hover {
    opacity: 1;
}

.carousel-img1 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}

.carousel-img2 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}

.carousel-img3 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}

.carousel-img4 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}

.carousel-img5 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}

.carousel-img6 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px 0 0 15px;
}



/* What do we do section */
.what-we-do-img {
    margin-top: 0;
    padding: 0;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background: linear-gradient(to left, white, lightgrey 90%); */
    /* box-shadow: 0 5px 10px #888; */
    /* background: linear-gradient(153deg, rgb(251, 255, 251), rgb(193, 238, 193)); */

    /* border-radius: */
}

.what-we-do {
    /* padding: 2rem 4rem; */
    row-gap: 0;
    width: 100%;
    grid-column: 2;
    /* border: 1px solid black; */
}

.upside-down-grass {
    width: 100%;
    height: 100%;
    grid-column: 1;
    box-shadow: 5px 5px 10px #888;

    /* justify-items: end; */
    margin: auto;
    margin-left: 0;
    border-radius: 0 15px 15px 0;
}

.icon-grid {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    border: 5px solid var(--green);
    border-radius: 20px;
    margin: 1rem;
    background: linear-gradient(white 5%, rgb(219, 235, 219));
    /* background: linear-gradient(153deg, rgb(219, 241, 219), rgb(231, 247, 231)); */
    /* margin: auto; */
}

.icon {
    width: 100px;
}

.top1 {
    grid-column: span 4;
}

.lawn-mower {
    grid-row: 2;
    grid-column: 2;
}

.weed-eater {
    grid-row: 2;
    grid-column: 3;
}

.leaf-blower {
    grid-row: 3;
    grid-column: 1;
}

.rake {
    grid-row: 3;
    grid-column: 4; 
}

.tree {
    grid-row: 4;
    grid-column: 1;
}

.grass {
    grid-row: 4;
    grid-column: 4;
}

.hose {
    grid-row: 5;
    grid-column: 2;
}

.wheel-barrow {
    grid-row: 5;
    grid-column: 3;
}

.list-grid {
    grid-row: span 2;
    grid-column: span 2;
    font-size: 2.2rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    line-height: 2.2rem;
    text-align: left;
    align-items: center;
    list-style:inside;
    color: var(--orange);
    /* -webkit-text-stroke: 1.5px black;
    -webkit-text-fill-color: var(--orange); */
    /* border-radius: 45px; */
    /* border: 5px solid var(--green); */
}

/* .list-grid > li:hover {
    color: black;
    cursor: none;
} */

.lawn-mower:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.weed-eater:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.leaf-blower:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.rake:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.tree:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.grass:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.hose:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.wheel-barrow:hover {
    background: white;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

/* GBWI declaration */
.gbwi-declaration {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: white;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 10px #888;
    background: linear-gradient(to right, white 2%, lightgrey);
    /* background: linear-gradient(153deg, rgb(251, 255, 251), rgb(193, 238, 193)); */

}

.gbwi-div {
    grid-column: 1;
    padding: 2rem 4rem;
    row-gap: 0;
    /* width: 98%; */
    margin: 1rem;
    border-radius: 20px;
    border: 5px solid var(--green);
}

.header-sec-gbwi {
    text-align: center;
    width: 100%;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

.gbwi {
    font-size: 1.3rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2.2rem;
    text-align: center;
}

.first-family{
    display: none;
}

.family {
    grid-column: 2;
    width: 100%;
    border-radius: 15px 0 0 15px;
    /* box-shadow: -5px 0px 5px #888; */
}

/* Testimonial Sect */

.testimonial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding: 7rem;
}

.testimonial1 {

}

.testimonial2 {

}

.testimonial3 {

}

.testimonial-box {
    width: 90%;
    height: 14rem;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
    border-radius: 25px;
    background: linear-gradient(238deg, white, rgb(243, 252, 245), white);
    /* background: linear-gradient(153deg, rgb(251, 255, 251), rgb(193, 238, 193)); */
    box-shadow: 5px 5px 10px #888;
    /* border: 1px solid black; */
}

.testimonial-img {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
    object-fit:cover;
    border-radius: 50%;
    grid-row: span 2;
    background-color: white;
    box-shadow: 5px 5px 10px #888;
    /* border: 1px solid black; */
}

.name {
    text-decoration: underline;
    color: grey;
    padding: 0 0 0 1rem;
    padding: 0;
    font-size: 1.3rem;
}

.star-rating {
    width: 10rem;
    margin-top: -2rem;
    margin-left: -1rem;
    padding: 0;
}

.testimony {
    margin-top: -4rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--orange);
    /* padding: 0 0 0 1rem; */
}

/* Contact Sect */

.contact {
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    justify-items: center;
    align-items: center;
    height: 100%;
    gap: 5rem;
    box-shadow: 5px 5px 10px #888;

}


/* form {
    
}

#register {
    border-radius: 15px;
    width: 90%;
    color: green;
}

label {
    display: block;
}

.name-email-phone {
    display: grid;
    border-radius: 15px 15px 0 0;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.first-name {
    
}

.last-name {
    
}

.email {
    width: 100%;
} */

form {
    width: 90%;
    padding: 2em;
    border-radius: 15px;
    background:  rgb(28, 128, 3);
    box-shadow: 5px 5px 10px #888;
    
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

.free-quote {
    grid-column: span 2;
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    border-radius: 10px;
    border-bottom: 5px solid var(--orange)
}

fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
      display: block;
      margin: 0.5rem 0;
      font-weight: bold;
      color: white;
    }
    
    input,
    textarea,
    select {
        margin: 10px 20px 0 0;
        width: 90%;
        min-height: 3rem;
        font-size: 20px;
        /*padding: 0 10vw; */
    }
    
    input, textarea {
        background: white;
        border: 1px solid #0a0a23;
        color: black;
        text-align: center;
        border-radius: 20px
    }
    
    .inline {
        width: unset;
        margin: 0 0.5em 0 0;
        vertical-align: middle;
    }
    
    input[type="submit"] {
        display: block;
        width: 60%;
        margin: 1em auto;
        height: 2em;
        font-size: 1.1rem;
        background-color: var(--orange);
        border-color: white;
        min-width: 300px;
    }
    
  input[type="file"] {
    padding: 1px 2px;
}

a {
    color: var(--orange);
    font-weight: bold;
}

::placeholder {
    color: rgb(197, 197, 197)
}

input[class="section1"] {
    font-size: 20px;
}

/* End of form dump */

#address {
    grid-column: span 2;
}

.terms-and-conditions {
    margin: auto;
    grid-column: span 2;
}

.call-now-div {
    line-height: 8rem;
    height: 100%;
    padding: 0;
    border-radius: 15px;
    border: 4px solid var(--green);
    box-shadow: 5px 5px 10px #888;
    background: linear-gradient(153deg, rgb(251, 255, 251), rgb(193, 238, 193));
}

.when-the-other-guys-wont {
    text-align: center;
    width: 100%;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
}

.big-bold {
    font-size: 8rem;
}

.call-now {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: var(--orange);
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.phone-icon {
    width: 3rem;
    padding-right: 2rem;
    padding-top: 1rem
}

.phone-number {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: -4rem;
}

.grass-banner {
    width: 100%;
    /* margin-bottom: -12.4rem; */
    margin-bottom: -17.6rem;
    border-radius: 0 0 10px 10px;
}

footer {
    /* width: 100%; */
    height: 10rem;
    display: grid;
    align-items: center;
    color: grey;
    grid-template-columns: repeat(5, 1fr);
    background: rgb(53, 54, 53);
}

.rights {
    text-align: center;
    grid-column: 3;

}

/* 4:3 Aspect Ratio (Traditional Displays) 1024x768, 1280x960
    16:9 Aspect Ratio (Wider Displays) 1920x1080, 2560x1440*/
@media  (min-width: 2560px) {
    body {
        width: 98%;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {
    body {
        width: 99%;
    }

    header {
        width: 86%;
    }

    /* Splash Sect */

    .carousel-watb-top {
        font-size: .7em;
    }

    .carousel-watb-bottom {
        font-size: .7em;
    }

    /* Declaration Sect */

    .header-sec {
        font-size: 2em;
    }

    .p-sec1 {
        font-size: 1em;
        line-height: 1.5;

    }

    .p-sec2 {
        font-size: 1em;
        line-height: 1.5;

    }

    /* What We Do */

    .icon {
        width: 5em;
    }

    .list-grid {
        font-size: 1.8em;
    }

    /* Get Back to Whats Important */

    .header-sec-gbwi {
        font-size: 2em;
    }

    .gbwi {
        font-size: 1em;
    }

    /* Testimonial Sect */

    .testimonial {
        width: 85%;
    }

    .testimonial-box {
        width: 95%;
    }

    /* Contact Sect */

    .contact {
        padding: 1em;
        gap: 1em;
    }

    .grass-banner {
        margin-bottom: -10.8rem;
    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    body {
        /* width: 119%; */
        width: 100%;
    }

    header {
        width: 80%;
    }

    nav li {
        padding: 1em;
    }

    ul a {
        font-size: 1.2em
    }

    /* Splash Sect */

    .carousel-sect {
        height: 40em;
    }

    .carousel-overlay {
        left: 10%;
    }

    .carousel-watb-top {
        font-size: .5em;
    }

    .carousel-watb-bottom {
        font-size: .5em;
    }

    /* Declaration Sect */

    .header-sec {
        font-size: 2em;
    }

    .p-sec1 {
        font-size: 1em;
        line-height: 1.5;
    }

    .p-sec2 {
        font-size: 1em;
        line-height: 1.5;
    }

    /* What We Do */

    .icon {
        width: 4em;
    }

    .list-grid {
        font-size: 1.3em;
    }

    /* Get Back to Whats Important */

    .header-sec-gbwi {
        font-size: 2em;
    }

    .gbwi {
        font-size: 1em;
        line-height: 1.5;
    }

    /* Testimonial */

    .testimonial {
        width: 90%;
        padding: 5rem;
    }

    .testimonial-box {
        width: 95%;
    }

    .testimonial-img {
        width: 7em;
        height: 7em;
    }

    .testimony {
        font-size: 1em;
    }

    /* Contact Sect */

    .contact {
        padding: 1em;
        gap: 1em;
    }

    .free-quote {
        font-size: 2.5em;
    }

    .grass-banner {
        margin-bottom: -3.8em;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        /* width: 152%; */
        width: 100%;
    }

    header {
        width: 77.5%;
    }

    nav li {
        padding: 1em;
    }

    ul a {
        font-size: 1.2em
    }

    /* Splash Sect */

    .carousel-sect {
        height: 30rem;
    }

    .carousel {
        height: 80%;
    }

    .carousel-overlay {
        top: 25%;
        left: 10%;
    }

    .carousel-watb-top {
        font-size: .3em;
    }

    .carousel-watb-bottom {
        font-size: .3em;
    }

    /* Declaration Sect */

    .declaration {
        padding: .5rem
    }

    .header-sec {
        font-size: 2em;
    }

    .p-sec1 {
        font-size: 1em;
        line-height: 1.5;
    }

    .p-sec2 {
        font-size: 1em;
        line-height: 1.5;
    }

    /* What We Do */

    .icon {
        width: 4em;
    }

    .list-grid {
        font-size: 1.1em;
    }

    /* Get Back to Whats Important */

    .header-sec-gbwi {
        font-size: 2em;
        padding: .5rem;
    }

    .gbwi {
        font-size: 1em;
        padding: .5rem;
    }

    /* Testimonial Sect */

    .testimonial {
        width: 95%;
        gap: 1rem;
        padding: 2rem;
    }

    .testimonial-img {
        width: 5rem;
        height: 5rem;
    }

    .testimony {
        font-size: 1em;
    }

    /* Contact Sect */

    .contact {
        padding: 1em;
        gap: 1em;
    }

    .free-quote {
        font-size: 2.4rem;
    }

    .big-bold {
        font-size: 6rem;
    }

    .grass-banner {
        margin-bottom: -3.7rem;
    }

}

@media (min-width: 425px) and (max-width: 767px) {
    body {
        width: 425px;
    }

    header {
        display: none;
    }

    /* Splash Sect */

    .carousel-sect {
        margin-top: 0;
        display: none;
    }

    .carousel-overlay {
        background: transparent;
        position: unset;
        margin: 5rem auto;
    }

    .carousel-logo {
        width: 6em;
        padding-left: 0;
        float: none;
        border-top: 5px solid var(--green);
        border-bottom: 5px solid var(--green);
        border-radius: 15px;
    }

    .carousel-watb-top {
        display: none;
    }

    .carousel-watb-bottom {
        display: none;
    }

    

    /* Declaration Sect */

    .declaration-img {
        margin-top: 5rem;
        display: block;
    }

    .actual-carousel {
        display: none;
    }

    /* What We Do */

    .upside-down-grass {
        display: none;
    }

    .icon-grid {
        display: none;
    }

    .first-family {
        display: block;
        width: 50em;
    }



    /* Get Back to Whats Important */

    .gbwi-declaration {
        display: block;
    }

    .family {
        display: none;
    }

    /* Testimony Sect */

    .testimonial {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    /* Contact Sect */

    .contact {
        padding: 1.5em;
        gap: 0em;
    }

    .free-quote {
        font-size: 1.58rem;
    }

    .call-now-div {
        line-height: 6rem;
    }

    .big-bold {
        font-size: 1.5em;
    }

    .call-now {
        font-size: 3em;
    }

    .phone-number {
        font-size: 2em;
    }

    .grass-banner {
        display: none;
    }

    .rights {
        grid-column: span 5;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    body {
        width: 375px;
    }

    header {
        display: none;
    }

    /* Splash Sect */

    .carousel-sect {
        margin-top: 0;
        display: none;
    }

    .carousel-overlay {
        background: transparent;
        position: unset;
        margin: 5rem auto;
    }

    .carousel-logo {
        width: 6em;
        padding-left: 0;
        float: none;
        border-top: 5px solid var(--green);
        border-bottom: 5px solid var(--green);
        border-radius: 15px;
    }

    .carousel-watb-top {
        display: none;
    }

    .carousel-watb-bottom {
        display: none;
    }

    

    /* Declaration Sect */

    .declaration-img {
        margin-top: 5rem;
        display: block;
    }

    .declaration {
        padding: .5rem
    }

    .header-sec {
        font-size: 2em;
    }

    .p-sec1 {
        font-size: 1em;
        line-height: 1.5;
    }

    .p-sec2 {
        font-size: 1em;
        line-height: 1.5;
    }

    .actual-carousel {
        display: none;
    }

    /* What We Do */

    .upside-down-grass {
        display: none;
    }

    .icon-grid {
        display: none;
    }

    .first-family {
        display: block;
        width: 40em;
    }



    /* Get Back to Whats Important */

    .header-sec-gbwi {
        font-size: 2em;
        padding: .5rem;
    }

    .gbwi-div {
        padding: .5em;
    }

    .gbwi {
        font-size: 1em;
        padding: .5rem;
    }

    .gbwi-declaration {
        display: block;
    }

    .family {
        display: none;
    }

    /* Testimony Sect */

    .testimonial {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 2em;
    }

    /* Contact Sect */

    .contact {
        padding: 1.5em;
        gap: 0em;
        display: block;
    }

    .free-quote {
        font-size: 1.58rem;
    }

    .call-now-div {
        line-height: 6rem;
        margin-top: 2em;
        width: 100%;
    }

    .big-bold {
        font-size: 2em;
    }

    .call-now {
        font-size: 3em;
    }

    .phone-number {
        font-size: 2em;
    }

    .grass-banner {
        display: none;
    }

    .rights {
        grid-column: span 5;
    }
}

@media (max-width: 374px) {
    body {
        width: 374px;
    }

    header {
        display: none;
    }

    /* Splash Sect */

    .carousel-sect {
        margin-top: 0;
        display: none;
    }

    .carousel-overlay {
        background: transparent;
        position: unset;
        margin: 5rem auto;
    }

    .carousel-logo {
        width: 6em;
        padding-left: 0;
        float: none;
        border-top: 5px solid var(--green);
        border-bottom: 5px solid var(--green);
        border-radius: 15px;
    }

    .carousel-watb-top {
        display: none;
    }

    .carousel-watb-bottom {
        display: none;
    }

    

    /* Declaration Sect */

    .declaration-img {
        margin-top: 5rem;
        display: block;
    }

    .declaration {
        padding: .5rem
    }

    .header-sec {
        font-size: 2em;
    }

    .p-sec1 {
        font-size: 1em;
        line-height: 1.5;
    }

    .p-sec2 {
        font-size: 1em;
        line-height: 1.5;
    }

    .actual-carousel {
        display: none;
    }

    /* What We Do */

    .upside-down-grass {
        display: none;
    }

    .icon-grid {
        display: none;
    }

    .first-family {
        display: block;
        width: 40em;
    }



    /* Get Back to Whats Important */

    .header-sec-gbwi {
        font-size: 2em;
        padding: .5rem;
    }

    .gbwi-div {
        padding: .5em;
    }

    .gbwi {
        font-size: 1em;
        padding: .5rem;
    }

    .gbwi-declaration {
        display: block;
    }

    .family {
        display: none;
    }

    /* Testimony Sect */

    .testimonial {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 2em;
    }

    /* Contact Sect */

    .contact {
        padding: 1.5em;
        gap: 0em;
        display: block;
    }

    .free-quote {
        font-size: 1.58rem;
    }

    .call-now-div {
        line-height: 6rem;
        margin-top: 2em;
        width: 100%;
    }

    .big-bold {
        font-size: 2em;
    }

    .call-now {
        font-size: 3em;
    }

    .phone-number {
        font-size: 2em;
    }

    .grass-banner {
        display: none;
    }

    .rights {
        grid-column: span 5;
    }
}

/* 16:10 Aspect Ratio (Tablets and My Laptop) 1280x800 screen/ 1280x675 browser*/
/* @media (min-width: 1025px) and (max-width: 1440px) { */

/* @media (max-width: 384px) {
    body {
        margin: 0;
        padding: 0;
    }

    header {
        display: none;
    }


    .carousel-sect {
        margin-top: 0;
        height: 15rem;
        width: 150%;
        border-radius: 0;
    }

    .carousel {
        width: 100%;
        padding: 0;
        margin-top: -3rem;
        border-radius: 0;
    }

    .carousel-overlay {
        top: 3rem;
        left: 0.3rem;
        width: 114%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgb(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 75%);


    }

    .carousel-logo {
        width: 40%;
        padding-left: 1rem;
    }


    .carousel-watb-top {
        top: -1rem;
        left: 15rem;
        font-size: 1.5rem;

    }

    .carousel-watb-bottom {
        top: 2rem;
        left: 14rem;
        font-size: 1.5rem;
    }

    
    .declaration-img {
        width: 130%;
        display: block;
        margin: 0;
        padding: 0;
    }

    .declaration {
        margin: 0;
        width: 62.5%
    }

    .actual-carousel {
        display: none;
    }
    
    
   
    .header-sec {
        font-size: 2rem;
    }
    
    .p-sec1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .p-sec2 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .em-orange {
        color: var(--orange);
        font-size: 1.4rem;
    }
      
    .emphasis {
        font-size: 1.4rem;
        color: var(--green);
    }

 
    .what-we-do-img {
        width: 140%;
    }

    .icon-grid {
        display: none;
    }
   
    .gbwi-declaration {
        width: 117%;
        display: block;
    }

    .header-sec-gbwi {
        font-size: 2rem;
    }

    .gbwi-div {
        margin: 0;
        padding: 0;
    }

    .gbwi {
        font-size: 1rem;
        
    }

    .first-family {
        display: block;
        width: 28rem;
        margin: 0;

    }

    .family {
        display: none;

    }

 
    .testimonial {
        width: 120%;
        padding: 4rem;
        margin: auto;
        margin-left: 2rem;
    }

    .testimonial1 {
        display: none;
    }

    .testimonial3 {
        display: none;
    }

    .testimonial-box {
        width: 95%
    }

    .testimonial-img {
        width: 5rem;
        height: 5rem;
    }
 
    .testimony {
        font-size: 1rem;
    }


    .contact {
        width: 109%;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        display: block
    }

    form {
        width: 92%;
        margin-bottom: 5rem;
    }

    .free-quote {
        font-size: 1.799rem;
    }

    .call-now-div {
        line-height: 5rem;
        width: 105.4%;
    }

    .when-the-other-guys-wont {
        margin: 5rem 0;
    }

    .big-bold {
        font-size: 5rem
    }

    .call-now {
        font-size: 4rem;
    }

    .phone-number {
        font-size: 3rem;
    }

    .grass-banner {
        margin-bottom: -2.3rem;
    }



    footer {
        width: 120%;
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .rights {
        grid-column-start: span 2;
        
    }
} */