* {
    /* border: 1px solid black; */
}

:root {
    --green: #377e3c;
    --orange: #df8f16;
    --off-green: rgb(79, 202, 151);
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 1rem 2rem;
    background: linear-gradient(rgb(235, 235, 235), rgb(216, 216, 216));
    /* background-color: lightgrey; */
    /* border: 1px solid black; */
}

.grid {
    display: grid;
    /* gap: 20px; */
}

/* Navigation Bar Stuff */

header {
    display: grid;
    width: 97%;
    grid-template-columns: repeat(1fr, 4);
    gap: 20px;
    border-radius: 15px;
    position: fixed;
    background: linear-gradient(to top, rgba(107, 216, 85, 0.9), white 10%);
    opacity: 95%;
    z-index: 1
}

nav {
    grid-column: 4;
}

nav ul {
    /* grid-column: 4; */
    display: flex;
    flex-wrap: wrap;
    justify-content: Space-evenly;
    align-items: center;
    padding: 20px 20px;
    /* border: 1px solid black; */
}

.nav-logo {
    margin-left: 4rem;
    width: 150px;
    list-style: none;
    /* position: absolute; */
}

.nav-link {
    list-style: none;
    /* box-shadow: 0 5px 3px -3px rgb(255, 255, 255); */
}

ul a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Carousel */

.carousel-sect {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    /* border: 1px solid blue; */
}

.carousel {
    /* border: 1px solid black; */
    height: 90%;
    width: 90%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid black; */
}

.carousel img {
    width: 100%;
    left: 0;
    position: absolute;
    object-fit: fill;
    border-radius: 15px;
    /* border: 1px solid black; */
}

.top-img {
    opacity: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 19rem;
    left: 8rem;
    width: 85%;
    /* border: 1px solid black; */
    border-radius: 15px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgb(255, 255, 255, 0.1), rgba(255, 255, 255, 1) 80%);
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family:sans-serif;
    -webkit-text-stroke: 1.5px black;
    /* text-stroke: 2px black; */
    -webkit-text-fill-color: var(--orange);
    /* text-fill-color: white; */
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 0.6rem;
}

.carousel-logo {
    width: 40%;
    padding-left: 4rem;
}

.carousel-watb-top {
    position: absolute;
    display: inline-block;
    left: 63rem;
    /* color: rgb(255, 255, 255); */
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;
}

.carousel-watb-bottom {
    position: absolute;
    display: inline-block;
    top: 10rem;
    left: 61rem;
    /* color: rgb(255, 255, 255); */
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 5px;

}
/* WE ARE THE BEST */

.watb {
    margin-top: 2rem;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: arial;
    letter-spacing: 0.6rem;
    color: var(--orange);
    /* color: #186d1e; */
    text-decoration: underline;
    text-decoration-color: var(--green);
}

/* Declaration */

.declaration-img {
    margin-top: 4rem;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 5px -5px 10px #888;
    background: linear-gradient(to right, white 2%, lightgrey);
    /* border-radius: */
}

.declaration {
    padding: 2rem 4rem;
    row-gap: 0;
    width: 90%;
    grid-column: 1;
    /* border: 1px solid black; */
}

.header-sec {
    text-align: center;
    width: 100%;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    /* border: 1px solid black; */

}

.p-sec1 {
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
  
.p-sec2 {
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
  
.em-orange {
    color: var(--orange);
    font-size: 1.6rem;
}
  
.emphasis {
    font-size: 1.6rem;
    color: var(--green);
}

.black {
    font-weight: normal;
}

.landscaping {
    width: 100%;
    height: 100%;
    grid-column: 2;
    /* justify-items: end; */
    margin: auto;
    margin-right: 0;
    border-radius: 15px 0 0 15px;
}

/* What do we do section */
.what-we-do-img {
    margin-top: 0;
    padding: 0;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to left, white, lightgrey 90%)
    /* border-radius: */
}

.what-we-do {
    /* padding: 2rem 4rem; */
    row-gap: 0;
    width: 100%;
    grid-column: 2;
    /* border: 1px solid black; */
}

.upside-down-grass {
    width: 100%;
    height: 100%;
    grid-column: 1;
    /* justify-items: end; */
    margin: auto;
    margin-left: 0;
    border-radius: 0 15px 15px 0;
}

.icon-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    /* background: linear-gradient(white 5%, rgb(219, 235, 219)); */
    /* margin: auto; */
}

.icon {
    width: 100px;
}

.top1 {
    grid-column: span 4;
}

.lawn-mower {
    grid-row: 2;
    grid-column: 2;
}

.weed-eater {
    grid-row: 2;
    grid-column: 3;
}

.leaf-blower {
    grid-row: 3;
    grid-column: 1;
}

.rake {
    grid-row: 3;
    grid-column: 4; 
}

.tree {
    grid-row: 4;
    grid-column: 1;
}

.grass {
    grid-row: 4;
    grid-column: 4;
}

.hose {
    grid-row: 5;
    grid-column: 2;
}

.wheel-barrow {
    grid-row: 5;
    grid-column: 3;
}

.list-grid {
    grid-row: span 2;
    grid-column: span 2;
    font-size: 2rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2.2rem;
    text-align: center;
    list-style: none;
    color: var(--orange);
}

/* GBWI declaration */
.gbwi-declaration {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: white;
    align-items: center;
    box-shadow: 5px 5px 10px #888;
    background: linear-gradient(to right, white 2%, lightgrey);

}

.gbwi-div {
    grid-column: 1;
    padding: 2rem 4rem;
    row-gap: 0;
    width: 90%;
}

.header-sec-gbwi {
    text-align: center;
    width: 100%;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

.gbwi {
    font-size: 1.3rem;
    font-weight: bold;
    word-spacing: 0.2rem;
    line-height: 2.2rem;
    text-align: center;
}

.family {
    grid-column: 2;
    width: 100%;
    border-radius: 15px 0 0 15px;
    /* box-shadow: -5px 0px 5px #888; */
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding: 7rem;
}

.testimonial1 {

}

.testimonial2 {

}

.testimonial3 {

}

.testimonial-box {
    width: 90%;
    max-height: 12rem;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
    border-radius: 25px;
    /* background: rgb(242, 244, 242); */
    background: linear-gradient(238deg, white, rgb(243, 252, 245), white);
    box-shadow: 5px 5px 10px #888;
    /* border: 1px solid black; */
}

.testimonial-img {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
    object-fit:cover;
    border-radius: 50%;
    grid-row: span 2;
    background-color: white;
    box-shadow: 5px 5px 10px #888;
    /* border: 1px solid black; */
}

.name {
    text-decoration: underline;
    color: grey;
    padding: 0 0 0 1rem;
    padding: 0;
    font-size: 1.3rem;
}

.star-rating {
    width: 10rem;
    margin-top: -2rem;
    margin-left: -1rem;
    padding: 0;
}

.testimony {
    margin-top: -4rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--orange);
    /* padding: 0 0 0 1rem; */
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    justify-items: center;
}

.we-will {
    grid-column: span 2;
}

#register {
    border-radius: 15px;
    width: 90%;
    color: green;
}

.name-email-phone {
    border-radius: 15px 15px 0 0;
}

.first-name {
    width: 100%;
}

.last-name {
    width: 50%;
}

.email {
    width: 50%;
}